body {
    background: rgb(157, 189, 248);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input {
    border: none;
    background-color: rgb(235, 235, 235);
    
    
}

.txtnome {
    width: 800px;
}

p {
    font-size: 15px;
}

.top input {
    width: 750px;
    height: 25px;
    border-radius: 10px;
}

.left input {
    width: 450px;
    height: 25px;
    border-radius: 10px;
}

.right input {
    width: 250px;
    height: 25px;
    border-radius: 10px;
}

.right select {
    width: 250px;
    height: 25px;
    border-radius: 10px;
}

.body {
    display: flex;
}

.left {
    flex: 1;
    margin-right: 25px;
}

.right {
    flex: 1;
    margin-left: 25px;
}